
@{
    ViewData["Title"] = "用章管理详情";
}

<h1></h1>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/layui-v2.5.6/layui/layui.js"></script>
<link href="~/lib/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />

<br />
<div>
    <button type="button" class="layui-btn layui-btn-primary" style="margin-left:910px;" onclick="Fh()">
        <i class="layui-icon">&#xe65c;</i> 返回
    </button>
    <button type="button" class="layui-btn layui-btn-primary" onclick="FanTian()">
        <i class="layui-icon">&#xe9aa;</i> 刷新
    </button>
</div>
<br />
<button type="button" class="layui-btn layui-btn-sm layui-btn-primary" onclick="Dy()">
    <i class="layui-icon">&#xe66d;</i>打印
</button>
<h2 style="background-color:cornsilk">基本信息</h2>
<table class="table table-bordered">
    <tr>
        <td class="text-center">主题</td>
        <td>
            <input class="form-control" id="txt_Matter" type="text" />
        </td>
    </tr>
    <tr>
        <td class="text-center">结束时间</td>
        <td>
            <input class="form-control" id="txt_EndTime" type="text" />
        </td>
    </tr>
</table>
<h2 style="background-color:cornsilk">申请信息</h2>
<table class="table table-bordered">
    <tr>
        <td class="text-center">申请人</td>
        <td>
            <select class="form-control" id="txt_Sqr">
                <option value="-1">--请选择--</option>
            </select>
        </td>
        <td class="text-center">所属部门</td>
        <td>
            <select class="form-control" id="txt_Bm">
                <option value="-1">--请选择--</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="text-center">申请时间</td>
        <td>
            <input class="form-control" id="txt_ApplicationTime" type="text" />
        </td>
        <td class="text-center">印章名称</td>
        <td>
            <select class="form-control" id="txt_Yz">
                <option value="-1">--请选择--</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="text-center">事由及用途</td>
        <td colspan="3">
            <textarea class="form-control" id="txt_Purpose" rows="2" cols="20"></textarea>
        </td>
    </tr>
    <tr>
        <td class="text-center">用印文件名</td>
        <td>
            <input class="form-control" id="txt_File" type="text" />
        </td>
        <td class="text-center">用印份数</td>
        <td>
            <input class="form-control" id="txt_Used" type="text" />
        </td>
    </tr>
    <tr>
        <td class="text-center">预借时间</td>
        <td>
            <input class="form-control" id="txt_AdvanceTime" type="text" />
        </td>
        <td class="text-center">归还时间</td>
        <td>
            <input class="form-control" id="txt_ReturenTime" type="text" />
        </td>
    </tr>
    <tr>
        <td class="text-center">实际归还信息</td>
        <td colspan="3">
            <textarea class="form-control" id="txt_Information" rows="2" cols="20"></textarea>
        </td>
    </tr>

</table>
<html>
<body>
    <BR>
    输入单位：<input id="dw" width="50" type="text" value='某某某某某人事部' />
    章下面文字：<input id="mdtext" width="50" type="text" value='专用章' />
    <div id="tuzhangdiv">
        <canvas id="canvas" width="250" height="250"></canvas>
    </div>
    <input type="button" onclick="javascript:createSealEx();" value="生成公章" />
</body>
</html>
<script>

    $(function () {
        var id = window.location.href.split("id")[1].split("=")[1];
        console.log(decodeURI(id));
        GetApplicant();//获取申请人的下拉绑定
        GetDepartment();//获取部门的下拉绑定
        GetSealName();//获取印章名称下拉绑定
        FanTian(id);
    })
    //申请人下拉框
    function GetApplicant() {
        $.ajax({
            async: false,
            url: 'http://localhost:57726/api/default/GetApplicants',
            dataType: "json",
            type: "get",
            success: function (d) {
                $(d).each(function () {
                    $("#txt_Sqr").append("<option value='" + this.aId + "'>" + this.aName + "</option>");
                })
            }
        })
    }
    //部门下拉框
    function GetDepartment() {
        $.ajax({
            async: false,
            url: 'http://localhost:57726/api/default/GetDepartments',
            dataType: "json",
            type: "get",
            success: function (d) {
                $(d).each(function () {
                    $("#txt_Bm").append("<option value='" + this.dId + "'>" + this.dName + "</option>");
                })
            }
        })
    }
    //印章名称下拉框
    function GetSealName() {
        $.ajax({
            async: false,
            url: 'http://localhost:57726/api/default/GetSealNames',
            dataType: "json",
            type: "get",
            success: function (d) {
                $(d).each(function () {
                    $("#txt_Yz").append("<option value='" + this.sN_Id + "'>" + this.sN_Name + "</option>");
                })
            }
        })
    }
    //用章管理反填数据表单
    function FanTian(id) {
        $.ajax({
            async: false,
            url: "http://localhost:57726/api/default/ByParticulars",
            type: "get",
            dataType: "json",
            data: { byId: id },
            success: function (d) {

                $("#txt_Matter").val(d.b_Matter);
                $("#txt_EndTime").val(d.b_EndTime);
                $("#txt_Sqr option").each(function () {
                    if (this.value == d.a_Id) {
                        $(this).prop("selected", "selected");
                    }
                })
                $("#txt_Bm option").each(function () {
                    if (this.value == d.d_Id) {
                        $(this).prop("selected", "selected");
                    }
                })
                $("#txt_Yz option").each(function () {
                    if (this.value == d.sN_Id) {
                        $(this).prop("selected", "selected");
                    }
                })
                $("#txt_ApplicationTime").val(d.b_ApplicationTime);
                $("#txt_Purpose").val(d.b_Purpose);
                $("#txt_File").val(d.b_File);
                $("#txt_Used").val(d.b_Used);
                $("#txt_AdvanceTime").val(d.b_AdvanceTime);
                $("#txt_ReturenTime").val(d.b_ReturenTime);
                $("#txt_Information").val(d.b_Information);
            }
        })
    }

    //返回列表
    function Fh() {
        location.href = "/Stamp/Show";
    }

    //全局打印
    function Dy() {
        window.print(FanTian);
    }
</script>

<SCRIPT LANGUAGE="javascript">

    function createSealEx() {
        var dw = document.getElementById("dw");
        var mdtext = document.getElementById("mdtext");
        var tuzhangdiv = document.getElementById("tuzhangdiv");
        tuzhangdiv.innerHTML = "<canvas id='canvas' width='250' height='250'></canvas>";
        createSeal('canvas', dw.value, mdtext.value);
    }

    function createSeal(id, company, name) {

        var canvas = document.getElementById(id);


        var context = canvas.getContext('2d');
        context.translate(0, 0);//移动坐标原点

        // 绘制印章边框
        var width = canvas.width / 2;
        var height = canvas.height / 2;

        context.lineWidth = 7;
        context.strokeStyle = "#f00";
        context.beginPath();
        context.arc(width, height, 110, 0, Math.PI * 2);
        context.stroke();
        context.save();

        //画五角星
        create5star(context,width,height,30,"#f00",0);

        // 绘制印章名称
        context.font = 'bolder 24px SimSun';
        context.textBaseline = 'middle';//设置文本的垂直对齐方式
        context.textAlign = 'center'; //设置文本的水平对对齐方式
        context.lineWidth = 1;
        context.fillStyle = '#f00';
        context.fillText(name, width, height + 65);


        // 绘制印章单位
        context.translate(width, height);// 平移到此位置,

        context.font = 'bolder 30px SimSun '
        var count = company.length;// 字数
        var angle = 4 * Math.PI / (3 * (count - 1));// 字间角度
        var chars = company.split("");
        var c;
        for (var i = 0; i < count; i++) {
            c = chars[i];// 需要绘制的字符
            if (i == 0)
                context.rotate(5 * Math.PI / 6);
            else
                context.rotate(angle);
            context.save();
            context.translate(95, 0);// 平移到此位置,此时字和x轴垂直，第一个参数是与圆外边的距离，越大距离越近
            context.rotate(Math.PI / 2);// 旋转90度,让字平行于x轴
            context.fillText(c, 0, 5);// 此点为字的中心点
            context.restore();
        }

        //绘制党徽
        drowImageToCanvas(context, width, height);

        /* */


        //绘制五角星
        /**
         * 创建一个五角星形状. 该五角星的中心坐标为(sx,sy),中心到顶点的距离为radius,rotate=0时一个顶点在对称轴上
         * rotate:绕对称轴旋转rotate弧度
         */
        function create5star(context, sx, sy, radius, color, rotato) {
            context.save();
            context.fillStyle = color;
            context.translate(sx, sy);//移动坐标原点
            context.rotate(Math.PI + rotato);//旋转
            context.beginPath();//创建路径
            var x = Math.sin(0);
            var y = Math.cos(0);
            var dig = Math.PI / 5 * 4;
            for (var i = 0; i < 5; i++) {//画五角星的五条边
                var x = Math.sin(i * dig);
                var y = Math.cos(i * dig);
                context.lineTo(x * radius, y * radius);
            }
            context.closePath();
            context.stroke();
            context.fill();
            context.restore();
        }

        // canvas对象绘制图片
        function drowImageToCanvas(context, x, y) {
            //alert(x+"|"+y);
            //创建新的图片对象
            var img = new Image();
            //指定图片的URL
            img.src = "dh.png";
            //浏览器加载图片完毕后再绘制图片
            img.onload = function () {
                context.save();
                context.rotate(-0.5);//旋转
                //以Canvas画布上的坐标(10,10)为起始点，绘制图像
                context.translate(-165, -165);//移动坐标原点
                context.drawImage(img, x, y);
                context.restore();
            };
        }


    }
</SCRIPT>
