
@{
    ViewData["Title"] = "印章列表详情";
}

<h1></h1>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/layui-v2.5.6/layui/layui.js"></script>
<link href="~/lib/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />

<br />
<div>
    <button type="button" class="layui-btn layui-btn-primary" style="margin-left:910px;" onclick="Fh()">
        <i class="layui-icon">&#xe65c;</i> 返回
    </button>
    <button type="button" class="layui-btn layui-btn-primary" onclick="FanTian()">
        <i class="layui-icon">&#xe9aa;</i> 刷新
    </button>
</div>
<br />
<table class="table table-bordered">
    <tr>
        <td class="text-center">名称</td>
        <td>
            <input class="form-control" id="txt_Name" type="text" />
        </td>
        <td class="text-center">启用日期</td>
        <td>
            <input class="form-control" id="txt_Commissioning" type="text" />
        </td>
    </tr>
    <tr>
        <td class="text-center">借用人</td>
        <td>
            <input class="form-control" id="txt_Loaner" type="text" />
        </td>
        <td class="text-center">管理人</td>
        <td>
            <input class="form-control" id="txt_Manager" type="text" />
        </td>
    </tr>
    <tr>
        <td class="text-center">描述</td>
        <td colspan="3">
            <textarea class="form-control" id="txt_Description" rows="2" cols="20"></textarea>
        </td>
    </tr>
    <tr>
        <td class="text-center">附件</td>
        <td colspan="3">
            <input id="File1" type="file" />
        </td>
    </tr>
</table>

<script>

    $(function () {
        var id = window.location.href.split("id")[1].split("=")[1];
        console.log(decodeURI(id));
        FanTian(id);
    })
    //反填数据表单
    function FanTian(id) {
        $.ajax({
            async: false,
            url: "http://localhost:57726/api/default/StaParticulars",
            type: "get",
            dataType: "json",
            data: { stId: id },
            success: function (d) {

                $("#txt_Name").val(d.s_Name);
                $("#txt_Commissioning").val(d.s_Commissioning);
                $("#txt_Loaner").val(d.s_Loaner);
                $("#txt_Manager").val(d.s_Manager);
                $("#txt_Description").val(d.s_Description);
            }
        })
    }
    //返回列表
    function Fh() {
        location.href = "/Stamp/Index";
    }
</script>
