
@{
    ViewData["Title"] = "Registers";
}
<script src="~/layui-v2.5.6/layui/layui.js"></script>
<link href="~/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<fieldset class="layui-elem-field layui-field-title site-demo-button" style="margin-top: 30px;">
    <legend>用品领用</legend>
</fieldset>
<div>
    <button type="button" class="layui-btn layui-btn-primary" style="margin-left:910px;" onclick="Return()">
        <i class="layui-icon">&#xe65c;</i> 返回
    </button>
    <button type="button" class="layui-btn layui-btn-primary" onclick="">
        <i class="layui-icon">&#xe9aa;</i> 刷新
    </button>
</div>
<br />
<h2 style="background-color:cornsilk" class="font-weight-light">基本信息</h2>
<table class="table" cellpadding="20">
    <tr>
        <td style="padding-left: 60px;">主题</td>
        <td>
            <input class="form-control" id="txt_ThemeName" type="text" />
        </td>
    </tr>
    <tr>
        <td style="padding-left: 52px;">结束时间</td>
        <td style="padding-right: 475px;">
            <input class="form-control" id="txt_EndTime" type="date" />
        </td>
    </tr>
</table>
<h2 style="background-color:cornsilk" class="font-weight-light">申请信息</h2>
<table class="table" cellpadding="20">
    <tr>
        <td class="text-center">申请人</td>
        <td>
            <select class="form-control" id="txt_Sqr">
                <option value="-1">--请选择--</option>
            </select>
        </td>
        <td class="text-center">所属部门</td>
        <td>
            <select class="form-control" id="txt_Cat">
                <option value="-1">--请选择--</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="text-center">申请时间</td>
        <td>
            <input class="form-control" id="txt_ApplicationTime" type="date" />
        </td>
        <td class="text-center">领用数量</td>
        <td>
            <input class="form-control" id="txt_ReceivedQuantity" type="text" />
        </td>
    </tr>
    <tr>
        <td class="text-center">备注</td>
        <td colspan="3">
            <textarea class="form-control" id="txt_Remarks" rows="2" cols="20"></textarea>
        </td>
    </tr>
</table>

<div style="margin-left:500px">
    <button type="button" class="layui-btn layui-btn-normal layui-btn-radius" onclick="Add()">确定</button>
    <button type="button" class="layui-btn layui-btn-primary layui-btn-radius">取消</button>
</div>
<script type="text/javascript">

    $(function () {
        GetCategory();
        GetApplicant();
    })
    //添加
    function Add() {
        var obj = {
            "ThemeName": $("#txt_ThemeName").val(),
            "EndTime": $("#txt_EndTime").val(),
            "AId": Number($("#txt_Sqr").val()),
            "DId": Number($("#txt_Cat").val()),
            "ApplicationTime": $('#txt_ApplicationTime').val(),
            "ReceivedQuantity": Number($('#txt_ReceivedQuantity').val()),
            "Remarks": $("#txt_Remarks").val(),
        }
        var JS = JSON.stringify(obj);

        console.log(obj);

        $.ajax({
            url: 'http://localhost:57726/api/Default/AddSuppliescollect',
            type: 'post',
            dataType: 'JSON',
            data: JS,
            contentType: 'application/json',
            success: function (d) {
                if (d > 0) {
                    alert("添加成功");
                    location.href = "/SuppliesCollect/List";
                }
            }
        })
    }
    //部门类别下拉框
    function GetCategory() {
        $.ajax({
            async: false,
            url: 'http://localhost:57726/api/Default/GetDepartment',
            dataType: "json",
            type: "get",
            success: function (d) {
                $(d).each(function () {
                    $("#txt_Cat").append("<option value='" + this.dId + "'>" + this.dName + "</option>");
                })
            }
        })
    }
    //申请人类别下拉框
    function GetApplicant() {
        $.ajax({
            async: false,
            url: 'http://localhost:57726/api/Default/GetApplicant',
            dataType: "json",
            type: "get",
            success: function (d) {
                $(d).each(function () {
                    $("#txt_Sqr").append("<option value='" + this.aId + "'>" + this.aName + "</option>");
                })
            }
        })
    }
    //返回跳转
    function Return() {
        location.href = '/SuppliesCollect/List';
    }
</script>



