
@{
    ViewData["Title"] = "VMRList";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div id="dv">

    </div>
    <div id="dv3" style="margin-top:0px;width:1500px;height:350px;margin-left:0px;border:double 0px">
        <figure class="wave">

            <img src="~/猫头鹰/鹿晗2.jpg" />    <figcaption>一</figcaption>
        </figure>
        <figure class="wave">

            <img src="~/猫头鹰/u=3778458793,999658044&fm=26&gp=0.jpg" />
            <figcaption>面</figcaption>
        </figure>
        <figure class="wave">

            <img src="~/猫头鹰/u=2704502432,1098234128&fm=26&gp=0.jpg" />
            <figcaption>而</figcaption>
        </figure>
        <figure class="wave">

            <img src="~/猫头鹰/u=191177066,831231168&fm=26&gp=0.jpg" />
            <figcaption>就</figcaption>
        </figure>
        <figure class="wave">
            <img src="~/猫头鹰/u=1792638406,2922986574&fm=26&gp=0.jpg" />
           <figcaption>.</figcaption>
        </figure>

    </div>

    <style type="text/css">
        #dv3 {
            display: flex;
            align-items: start;
            height: 100vh;
            background: #f8f8f8f8;
            font-size: 52px;
            font-family: 汉仪竹节体简;
            font-weight: bold;
        }

        .wave {
            float: left;
            margin: 20px;
            animation: wave ease-in-out 0.5s infinite alternate;
            transform-origin: center -20px;
        }

            .wave:hover {
                animation-play-state: paused;
            }

            .wave img {
                border: 9px solid #696767;
                display: block;
                width: 200px;
                height: 250px;
            }

            .wave figcaption {
                color: aqua;
                text-align: center;
            }

            .wave:after {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                border: 6px dashed #000000;
                top: -10px;
                left: 50%;
                z-index: 0;
                border-bottom: none;
                border-right: none;
                transform: rotate(45deg);
            }

            .wave:before {
                content: '';
                position: absolute;
                top: -23px;
                left: 50%;
                display: block;
                height: 44px;
                width: 47px;
                background-repeat: no-repeat;
                z-index: 16;
            }

        @@keyframes wave {
            0% {
                transform: rotate(3deg);
            }

            100% {
                transform: rotate(-3deg);
            }
        }
    </style>

</body>
</html>
<script>
    VMRList();
       //车辆维修保养登记
     function VMRList() {
          jQuery.ajax({
            url: "http://localhost:57726/api/default/VMRList",
            type: "get",
            dataType: "json",
            success: function (data) {
                $("#dv").empty();
                var tbr = '<table class="table table-bordered">' +
                    "<tr>" +
                    "<th>" + '主题' + "</th>" +
                    "<th>" + '车牌号' + "</th>" +
                    "<th>" + '类型' + " </th>" +
                    "<th>" + '时间段' + " </th>" +
                    "<th>" + '费用（元）' + " </th>" +
                    "</tr>" +
                    '<tbody id="tb">' +
                    '</tbody>' +
                    '</table>';
                $("#dv").append(tbr);
                $(data).each(function () {
                    var str = " <tr>" +
                        "<td>" + "<a href='#' onclick='VMRDetail(" + this.id + ")'>" + this.subject + "</a>" + "</td>" +
                        "<td>" + this.licensePlateNum + "</td>" +
                        "<td>" + this.type + "</td>" +
                        "<td>" + this.timeQuantum + "</td>" +
                        "<td>" + this.cost + "</td>" +
                        "</tr>";
                    $("#tb").append(str);
                })
            }
        })
    }
    //汽车维修保养登记详情
     function VMRDetail(id) {
         location.href = "/Default/VMRDetail?id=" + id;
    }

</script>
