
@{
    ViewData["Title"] = "Show";
}

<h1>会议室列表</h1>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<table class="table table-bordered ">
    <tr class="table table-hover">
        <td>名称</td>
        <td>容量</td>
        <td>位置</td>
        <td>内部设备</td>
        <td>状态</td>

    </tr>
</table>
<script>
    show();
    function show() {
        $.ajax({
            url: "http://localhost:57726/api/default/conferen",
            type: "get",
            dataType: "json",
            success: function (data) {
                $(data).each(function (index, ele) {
                    var He = "正常";
                    if (ele.con_State == 2) {

                        He = "维修";
                    }
                    if (ele.con_State == 3) {
                        He = "报废";
                    }
                    var tr = '<tr>'
                        + '<td><a href="#" onclick="go(' + ele.con_ID +')">' + ele.con_Name +'</a></td>'
                        + '<td>' + ele.con_Capacity + '</td>'
                        + '<td>' + ele.con_Position + '</td>'
                        + '<td>' + ele.con_Interiors + '</td>'
                        + '<td>' + He + '</td>'

                        + '</tr>';
                    $("table").append(tr);
                })
            }

        })

    }
    function go(id) {
        location.href = "/Meeting/ConShow?id=" + id;
    }

</script>